{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699;
            background-color: teal;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <h3>What is pylint?</h3>
                    <p>Pylint is a source-code, bug and quality checker for the Python programming language. It is named following a common convention in Python of a "py" prefix, and a nod to the C programming lint program. It follows the style recommended by PEP 8, the Python style guide.</p>
                    <h3>Implementing Pylint</h3>
                    <br>
                    <p>Link to the above code is provided below</p>
                    <br>
                    <a href="https://github.com/Samerthpatel/testcode1/tree/master"> Pylint example code</a>
                    <br>
                    <br>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/static/images/pylint1.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Step 1</h4>
                            <p class="text-black-50 mb-0">Pylint can be installed to your project by using the pip install pylint command in the terminal. Since I already have it installed it says requirements already satiafied.</p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/static/images/pylint2.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Step 2</h4>
                            <p class="text-black-50 mb-0">Pycharm also fetures a pylint plugin that can be easily installed. To do this go to prefrences then click plugins. Search pylint and install it. Restart pycharm after installing.</p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/static/images/pylint3.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Step 3</h4>
                            <p class="text-black-50 mb-0">To implement pylint into your python project set up the Exec path for the plugin so that Pycharm can execute Pylint every time user needs to inspect the code. For that, go to Settings/Preferences, click Other Settings, and then Pylint. Enter the PATH environment variable there and you are good to go.</p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/static/images/pylint4.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Step 3</h4>
                            <p class="text-black-50 mb-0">Lets see how it works. Download the example code from the link provided at the start of the Toturial. When running the code we see pylint shows 23 conventions in the file that need to be fixed. For this  code, you can see there are many display convention issues. At the lower left, you might see 4 symbols (red, yellow, blue, red ), these symbols tell the user about “Errors”, “Warnings”, “Display Conventions”, and “Refactoring” issues in the code.</p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-4 col-lg-5">
                            <h4>Step 4</h4>
                            <p class="text-black-50 mb-0">Pylint describes these errors so you know exactly whats wrong. Try improving the code and fixing some of the pylint errors to see if some of the conventions go away.</p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-4 col-lg-5">
                            <h4>Step 5</h4>
                            <p class="text-black-50 mb-0">The pylint.rc file can also be added to the project to change how pylint performs and errors can be disabled by using "#" on top of the errored code and disabling the error.</p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <h1>Terms and definitions</h1>
      <table>
        <tr>
            <td>Factory</a></td>
            <td>Factory method is a creational design pattern which solves the problem of creating product objects without specifying their concrete classes. Factory Method defines a method, which should be used for creating objects instead of direct constructor call ( new operator).</td>
          </tr>


          <tr>
            <td>Instantiation</a></td>
            <td>In programming, instantiation is the creation of a real instance or particular realization of an abstraction or template such as a class of objects or a computer process.</td>
          </tr>


          <tr>
            <td>Object</a></td>
            <td>A unique instance of a data structure that is defined by its class. An object comprises both data members (class variables and instance variables) and methods.</td>
          </tr>


          <tr>
            <td>Class</a></td>
            <td>A Python class is like an outline for creating a new object. </td>
          </tr>


          <tr>
            <td>Namespace</a></td>
            <td>A namespace is a system that has a unique name for each and every object in Python. </td>
          </tr>


          <tr>
            <td>Constructor</a></td>
            <td>
              Image result for Constructor python
              A constructor is a special kind of method that Python calls when it instantiates an object using the definitions found in your class. </td>
          </tr>


          <tr>
            <td>Fixture</a></td>
            <td>Fixtures define the steps and data that constitute the arrange phase of a test</td>
          </tr>


          <tr>
            <td>Type hint</a></td>
            <td>Type hints may be built-in classes (including those defined in standard library or third-party extension modules), abstract base classes.</td>
          </tr>


          <tr>
            <td>Type cast</a></td>
            <td>In Python, Type Casting is a process in which we convert a literal of one type to another.</td>
          </tr>


          <tr>
            <td>Unit test</a></td>
            <td>Unit testing is a software testing method by which individual units of source code are put under various tests to determine whether they are fit for use.</td>
          </tr>


          <tr>
            <td>Static</a></td>
            <td>When we declare a variable inside a class but outside any method, it is called as class or static variable in python. </td>
          </tr>


          <tr>
            <td>Class method</a></td>
            <td>A class method is a method which is bound to the class and not the object of the class.</td>
          </tr>


          <tr>
            <td>Facade</a></td>
            <td>Facade is a structural design pattern that provides a simplified (but limited) interface to a complex system of classes, library or framework. </td>
          </tr>


          <tr>
            <td>Method</a></td>
            <td>A method in python is somewhat similar to a function, except it is associated with object/classes.</td>
          </tr>


          <tr>
            <td>Property</a></td>
            <td>The property() method in Python provides an interface to instance attributes</td>
          </tr>


          <tr>
            <td>Encapsulation</a></td>
            <td>Encapsulation in Python is the process of wrapping up variables and methods into a single entity</td>
          </tr>


          <tr>
            <td>Inheritance</a></td>
            <td>Inheritance allows us to define a class that inherits all the methods and properties from another class.</td>
          </tr>


          <tr>
            <td>Polymorphism</a></td>
            <td>Polymorphism in python is used for a common function name that can be used for different types.</td>
          </tr>


          <tr>
            <td>Abstraction</a></td>
            <td>Abstraction in Python is the process of hiding the real implementation of an application from the user and emphasizing only on how to use the application.</td>
          </tr>
      </table>
                </div>

            </div>
            <br><br><br>
            <p>Link to the above code is provided below</p>
            <br>
            <a href="https://github.com/Samerthpatel/testcode1/tree/master"> example code</a>
        </section>
{% endblock %}
