{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699;
            background-color: teal;
        }
    </style>
{% endblock %}
{% block content %}
<section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <h3>What is Git?</h3>
                    <p>Git is the most commonly used version control system. Git tracks the changes you make to files, so you have a record of what has been done, and you can revert to specific versions should you ever need to. Git also makes collaboration easier, allowing changes by multiple people to all be merged into one source. More information can be found on this website:</p>
                    <p><a href="https://guides.github.com/activities/hello-world/">More about github.</a></p>

                    <h3>Get started with Git.</h3>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/static/images/Gitstep1.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Step 1</h4>
                            <p class="text-black-50 mb-0">Create a new "repository" (project) on github.</p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/static/images/Gitstep2.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Step 2</h4>
                            <p class="text-black-50 mb-0">Copy (or clone) the repository to your local machine. Use the commans git clone and paste the github link to your repo. The link to the repo can be found on github.</p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/static/images/gitpush.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Step 3</h4>
                            <p class="text-black-50 mb-0">to push changes of your project use the git push origin comamnd. </p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/static/images/gitpull.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Step 4</h4>
                            <p class="text-black-50 mb-0">To pull changes from github to your local directory use the gut pull origin command.</p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <h1>Git Commands</h1>
    <table>
        <tr>
          <th>Commands</th>
          <th>Definition</th>
        </tr>
        <tr>
          <td>git init</td>
          <td>initialize an existing directory as a Git repository</td>
        </tr>
        <tr>
          <td>git add [file]</td>
          <td>add a file as it looks now to your next commit (stage) / . adds all files</td>
        </tr>
        <tr>
          <td>git commit -m “[descriptive message]”</td>
          <td>commit your staged content as a new commit snapshot</td>
        </tr>
        <tr>
          <td>git checkout -b [branch-name]</td>
          <td>creates a branch and goes to the branch</td>
        </tr>
        <tr>
          <td>git checkout [branch-name]</td>
          <td>goes to the specified branch</td>
        </tr>
        <tr>
          <td>git branch</td>
          <td>list your branches. a * will appear next to the currently active branch</td>
        </tr>
        <tr>
            <td>git push origin [branch]</td>
            <td>transmits local branch commit to the remote repository branch</td>
          </tr>
          <tr>
            <td>git pull origin [branch]</td>
            <td>fetch and merge any commits from tracking remote branch</td>
          </tr>
          <tr>
            <td>git clone [URL]</td>
            <td>retrieve and entire repository from a hosted location via [URL]</td>
          </tr><tr>
            <td>git merge [branch]</td>
            <td>merge the specified branch's history into the current one</td>
          </tr>
      </table>
                </div>

            </div>
        </section>
{% endblock %}
