{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699;
            background-color: teal;
        }
    </style>
{% endblock %}
{% block content %}
<h1>Terminal Commands</h1>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>pwd</h4>
        <p class="text-black-50 mb-0">print working directory- prints absolute path</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>ls</h4>
        <p class="text-black-50 mb-0">lists files and directories in current directory</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>cd</h4>
        <p class="text-black-50 mr-0">changes the current directory being used in terminal</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>mkdir</h4>
        <p class="text-black-50 mb-0">creates a new directory at current location</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>mv</h4>
        <p class="text-black-50 mb-0">moves/renames files and directories</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>touch</h4>
        <p class="text-black-50 mb-0">creates an empty file</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>vi</h4>
        <p class="text-black-50 mb-0">opens files in the vi text editor</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>git init</h4>
        <p class="text-black-50 mb-0">initializes current directory for git version control</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>git add</h4>
        <p class="text-black-50 mb-0">stages files to be commited</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>git commit -m</h4>
        <p class="text-black-50 mb-0">commits changes to git version control with a message</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>git checkout -b</h4>
        <p class="text-black-50 mb-0">creates a new branch and changes checks out to it</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>git push</h4>
        <p class="text-black-50 mb-0">pushes local git changes to a remote repository/branch</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <h1>Docker commands</h1>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>docker ps</h4>
        <p class="text-black-50 mb-0">lists all running containers</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>docker compose up</h4>
        <p class="text-black-50 mb-0">creates and runs a docker container based on docker compose file</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>docker compose down</h4>
        <p class="text-black-50 mb-0">shuts down a docker container based on docker compose file</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
        <section class="projects-section bg-light" id="projects">
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                             <div class="col-xl-4 col-lg-5">
                                <div class="featured-text text-center text-lg-left">
                                    <h4>docker kill</h4>
        <p class="text-black-50 mb-0">kills and shuts down containers based on container id</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
{% endblock %}
