{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699;
            background-color: teal;
        }
    </style>
{% endblock %}
{% block content %}
<section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <h3>What is Vi?</h3>
                    <p>The vi (visual editor) program can also run in the Terminal Activity. Typing vi at the command line brings up the following view. This is vim running inside the terminal. You can use vim as a text editor so that you don't need to open any other Activities to read or write most documents.</h3>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/static/images/1.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Step 1</h4>
                            <p class="text-black-50 mb-0">Type the command "vi [filename] to create a new file</p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/static/images/2.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Step 2</h4>
                            <p class="text-black-50 mb-0">To instert text in the file type 'i'. This opens up the instert editor where you can type in your text. For the example we types hello world. </p>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="container px-4 px-lg-5">
                        <!-- Featured Project Row-->
                        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="/static/images/3.png" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Step 3</h4>
                            <p class="text-black-50 mb-0">When done editing the file press the esc key. then to exit vi press ZZ. Check the text of the file by using the "cat [filename] command.</p>
                        </div>
                    </div>

            </div>
            </div>
                    <h1>Vi Commands</h1>
    <table>
        <tr>
          <th>Commands</th>
          <th>Definition</th>
        </tr>
        <tr>
          <td>ZZ</td>
          <td>save and exit.</td>
        </tr>
        <tr>
          <td>:q!</td>
          <td>discard all changes, since the last save, and exit.</td>
        </tr>
        <tr>
          <td>:w</td>
          <td>save file but don't exit.</td>
        </tr>
        <tr>
          <td>:wq</td>
          <td>save and exit. </td>
        </tr>
        <tr>
          <td>vi [filename]</td>
          <td>Create a new file in the directory.</td>
        </tr>
        <tr>
          <td>G</td>
          <td>move to the last line.</td>
        </tr>
        <tr>
            <td>w</td>
            <td>move to the beginning of the next word.</td>
          </tr>
          <tr>
            <td>nw</td>
            <td>move forward n numbber of words.</td>
          </tr>
          <tr>
            <td>b</td>
            <td>move to the beginning of the previous word.</td>
          </tr>
          <tr>
            <td>nb</td>
            <td>move back n number of words.</td>
          </tr>
          <tr>
            <td>x</td>
            <td>delete a single character.</td>
          </tr>
          <tr>
            <td>nx</td>
            <td>delete n characters</td>
          </tr>
          <tr>
            <td>dd</td>
            <td>delete the current line</td>
          </tr>
          <tr>
            <td>u</td>
            <td>undo the last action.</td>
          </tr>
          <tr>
            <td>U</td>
            <td>undo all changes to the current line. </td>
          </tr>
          <tr>
            <td>cat</td>
            <td>view a file.</td>
          </tr>
          <tr>
            <td>less</td>
            <td>view a file. better for larger files.</td>
          </tr>
          <tr>
            <td>ARROW KEYS</td>
            <td>move the cursor around.</td>
          </tr>
          <tr>
            <td>^</td>
            <td>move the cursor to beginning of current line</td>
          </tr>
          <tr>
            <td>$</td>
            <td>move cursor to end of the current line.</td>
          </tr>
          <tr>
            <td>{</td>
            <td>move backwards one paragraph.</td>
          </tr>
      </table>
                </div>

            </div>
        </section>
{% endblock %}
